*{
	box-sizing: border-box;
}

body{
	background-color: #121212;
	min-height:100%;
	width:100%;
	font-family: 'Roboto', sans-serif;
	margin:0;
}

#main{
	position:absolute;
	top:50%;
	left:50%;
	margin:-310px 0 0 -235px;
	width:470px;
	height:620px;
	background-color: #202020;
	padding: 30px 60px 10px;
}

img{
	display:block;
	margin:0 auto;
}


#socials{
	width:100%;
	display:flex;
}

.social{
	flex:1;
	background-color: red;
	height: 50px;
	margin-top: 30px;
	margin-left:10px;
	display:flex;
}

.social:hover{
	cursor:pointer;
	box-shadow: 1px 1px 10px 0;
}

.social:nth-child(1){
	margin-left:0;
	background-color: #4267B2;
}

.social:nth-child(1):hover{
	background-color: #3156a1;
}


.social:nth-child(2){
	background-color: #FFFFFF;
}

.social:nth-child(2):hover{
	background-color: #ddd;
}

.social:nth-child(3){
	background-color: #02B3E8;
}

.social:nth-child(3):hover{
	background-color: #00a0b5;
}

.social:nth-child(4){
	background-color: #107C10;
}

.social:nth-child(4):hover{
	background-color: #006b00;
}

.social:nth-child(5){
	background-color: #E60012;
}

.social:nth-child(5):hover{
	background-color: #d50001;
}


.social img{
	position:relative;
	top:50%;
	left:50%;
	margin: -9px 0 0 -9px;
	width:18px;
	height:18px;
}

h1{
	font-size:13px;
	font-weight: 700;
	letter-spacing: 1px;
	color:#ccc;
	margin-top:30px;
	margin-bottom:15px;
}

.label-login input:focus{
	background-color: rgb(72,72,72);
}

.label-login div{
	position:relative;
}






.label-required{
	display:none;
	position: absolute;
	top:16px;
	right:10px;
	font-weight: 700;
	font-size:15px;
	color:#ccc;
}


label{
	margin-bottom: 0;
}

input{
	font-weight: 700;
	font-size:14px;
	width:100%;
	height:50px;
	padding:0 14px;
	margin-bottom:14px;
	background-color:rgb(43,43,43); 
	color:rgb(230,230,230);
	border:none;
	outline:none;
}







/*CHECKBOX*/
.checkbox-label {
    display: block;
    position: relative;
    margin: auto;
    cursor: pointer;
    font-size: 22px;
    line-height: 24px;
    height: 20px;
    width: 20px;
    background-color:rgb(69,69,69);
}

.checkbox-label input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.checkbox-label .checkbox-custom {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 24px;
    width: 150px;
    background-color: transparent;
    border-radius:2px;
    transition: all 0.3s ease-out;
}


.checkbox-label input:checked ~ .checkbox-custom {
    border-radius: 5px;
    transform: rotate(0deg) scale(1);
    opacity:1;
}


.checkbox-label .checkbox-custom::after {
    position: absolute;
    content: "";
    left: 12px;
    top: 12px;
    height: 0px;
    width: 0px;
    border-radius: 5px;
    border: solid rgb(150,150,150);
    border-width: 0 3px 3px 0;
    transform: rotate(0deg) scale(0);
    opacity:1;
    transition: all 0.3s ease-out;
}


.checkbox-label input:checked ~ .checkbox-custom::after {
  transform: rotate(45deg) scale(1);
  opacity:1;
  left: 8px;
  top: 3px;
  width: 6px;
  height: 12px;
  border-width: 0 2px 2px 0;
  background-color: transparent;
  border-radius: 0;
}

#checkbox{
	float:left;
}

#remember{
	float:left;
	margin-left:14px;
	color:rgb(117,117,117);
	font-weight: 700;
	font-size: 14px;
}

#remind a {
	color:rgb(117,117,117);
}

#remind{
	float:right;
	text-align: right;
	font-weight: 700;
	font-size: 14px;
}

button{
	width:100%;
	height: 50px;
	margin-top:30px;
	font-weight: 700;
	font-size:12px;
	background-color: rgb(25,25,25);
	color:rgb(86,86,86);
	border:none;
	outline:none;
}

button:hover{
	cursor:default;
}

button:focus{
	outline:none;
}

.btn-active{
	background-color:rgb(3,123,238);
	color:white;
}

.btn-active:hover{
	cursor:pointer;
}

h2{
	text-align: center;
	font-weight: 400;
	font-size: 14px;
	margin-top:34px;
	color:rgb(210,210,210);
}

p{
	padding:20px 10px 0;
	text-align: center;
	font-weight: 700;
	font-size: 14px;
	line-height: 1.5;
	color:rgb(117,117,117);
	margin:0;
	max-width:360px;
}

a{
	color:rgb(210,210,210);
	text-decoration: none;
	font-weight: 700;
}

a:link, a:visited, a:active{
	color:rgb(210,210,210);
	text-decoration: none;
}





@media(max-width:530px){
	body{
		background-color: #202020;
	}

	#main{
		width:100%;
		height: auto;
		top:0;
		left:0;
		margin:0 0 0 0;
		padding: 10px 30px 0;
	}

	#remember{
		margin-left:5px;
 	}

 	p{
 		padding-top:10px;
 	}

 	h2{
 		margin-top:20px;
 	}
}